html,body {
    font-family: Helvetica;
}

.song {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.song img {
    display: block;
    width: 200px;
    margin: 0 auto;
}

.song h1 {
    font-size: 18px;
    text-align: center;
}

.song h2 {
    font-size: 14px;
    text-align: center;
}